body{
    background: #FBF0D9;
    margin: 0px;
    font-family: Times, serif;
}

h1{
    text-align: center;
    font-size: 23vw;
    color: #5F4B32;
    margin-top: 0px;
}

#char1, #char6, #char10{
    color: #523436;
}
#char2, #char5, #char11{
    color: #8C5C42;
}
#char3, #char7, #char9, #char12{
    color: #C29F91;
}
#char4, #char8, #char13{
    color: #3B3B47;
}
.board{
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, 1fr));
    padding: 1px;
    border: 10px solid #5F4B32;
    border-radius: 5px;
    width: 85vw;
    height: 85vw;
    margin: auto;
    margin-top: 30vw;
}
.tile{
    background-color: #5F4B32;
    font-weight: bold;
    color: #FBF0D9;
    padding: 5vw 4vw 4vw 4vw;
    font-size: 10vw;
    text-align: center;
    margin: 1px;
    border-radius: 7px;

}
@media screen and (min-width: 576px) {
    h1{
        font-size: 7em;
    }
    .board{
        padding: 2px;
        border: 20px solid #5F4B32;
        border-radius: 10px;
        width: 400px;
        height: 400px;
        margin-top: auto;
    }
    .tile{
        margin: 2px;
        font-size: 40px;
        padding: 25px 10px 10px 10px;
     }

}
#tile1, #tile7, #tile12, #tile14{
    background: #8C5C42;
}
#tile2, #tile8, #tile9, #tile15{
    background: #523436;
}
#tile4, #tile6, #tile11, #tile13{
    background: #C29F91;
}
#tile3, #tile5, #tile10{
    background: #3B3B47;
}

.tile:hover{
      opacity: 0.9;
      cursor: pointer;
}
.tile:active{
    visibility: hidden;
}
#tile16{
      visibility: hidden;
      /* opacity: 0.3; */
}
.noselect {
      -webkit-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}
 
